@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}

body {
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Jost", sans-serif;
  font-feature-settings: "ss01" 1;
}

body .top-menu {
  transition: all ease 0.3s;
  transform: translateY(-100%);
  background-color: transparent;
}

body .select-menu {
  transition: all ease 0.3s;
  transform: translateY(100px);
}

body.scrolled-300 .top-menu {
  transform: translateY(0);
  background-color: #1b1b1bcc;
}

body.scrolled-300 .select-menu {
  transform: translateY(0%);
}

body .top-menu {
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 30px 30px;
  padding: 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

.bg-top_title {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 6vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 4.8px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

p {
  margin: 50px 0;
  text-align: justify;
  padding: 0 1rem;
}

.ph-100 {
  padding: 0 100px;
}

.box {
  /* border-radius: 45px; */
  background: rgba(0, 0, 0, 0.3);
  padding: 1.9em;
  color: white;
}

.box p:first-child {
  margin-top: 0;
}

.box p:last-child {
  margin-bottom: 0;
}

.bg-texture {
  background-image: url(./assets/images/textura.png);
  background-position: center;
  background-size: cover;
}

.highlight {
  background-color: white;
  color: black;
  padding: 1.4em;
  text-align: justify;
}

.bg-gray {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.bg-orange {
  background-color: #ff7a00cc;
  color: white;
}

.bg-snow {
  background-color: #fffafa;
}

.bg-yellow .section-title b,
.bg-yellow .section-title,
.bg-red .section-title b,
.bg-red .section-title,
.bg-orange .section-title b,
.bg-orange .section-title {
  color: white;
}

.highlight .section-title b,
.highlight .section-title {
  color: black;
  font-size: 2.4rem;
}

.highlight .section-title b {
  font-size: 5rem;
}

.bg-white {
  position: relative;
  background: white;
  z-index: 2;
  padding-top: 50px;
}

.top-menu .top-menu_title {
  color: white;
  position: relative;
  height: 100%;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.top-menu .top-menu_title .square {
  z-index: 0;
  width: 64px;
  height: 64px;
  margin-left: -10px;
  border: 3px solid #ff7a00;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
}
.top-menu .top-menu_title .square + span {
  z-index: 1;
}
/*
.select-menu {
  text-align: center;
  border-radius: 3.2rem;
  background-color: #ff7a00;
  color: white;
  font-size: 20px;
  padding: 3px 15px;
} */

.bg-only-photo {
  background-image: url("./assets/images/bg-topo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  max-height: 80vh;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

.bg-only-photo .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}

.bg-only-photo.photo-2 {
  background-image: url("./assets/images/bg-topo-2.png");
}

.bg-only-photo.photo-3 {
  background-image: url("./assets/images/bg-topo-3.png");
}

.bg-top {
  position: relative;
  margin-top: -114px;
  height: 100vh;
  max-height: 80vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 50px;
}

.section {
  margin: 0 auto;
  padding-bottom: 50px;
}

.section-title {
  color: #000;
  font-family: Jost;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: 50px;
}

.bg-gray .section-title {
  color: white;
}

.section-title b {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 166.4px */
}

.bg-top .bg-top_subtitle {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 1.7vw;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.section .title-section {
  font-size: 1.8rem;
  margin: 50px;
  font-weight: 600;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.poesias {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.bg-purple {
  background-color: #7e00b4;
  background-image: url("./assets/images/texture-balls.jpg");
  background-size: 300px;
}

.bg-red {
  background-color: #ff0000;
}

.bg-yellow {
  background-color: #dfa806;
}

.bg-snow {
  padding: 25px !important;
  font-size: 22px;
  line-height: 1.3;
  width: 50%;
}

.bg-snow .title {
  padding: 10px 0 15px;
  display: inline-block;
}

.bg-snow span {
  width: 100%;
  text-align: right;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
}

.audio {
  margin: 0 auto;
}

.partial-rounded {
  border-radius: 0px 80px;
}

.align-center {
  margin: 0 auto 50px;
}

.gog-text {
  display: flex;
  flex-direction: column;
}

.gog-text {
  color: #7300b4;
  font-family: Jost;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}

.gog-text small {
  display: inline-block;
  width: 100%;
  color: #7300b4;
  text-align: right;
  font-family: Jost;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  padding-right: 100px;
}

figure img {
  margin-bottom: 12px !important;
}

.legend {
  font-size: 1.4rem;
  font-style: italic;
  max-width: 900px;
  text-align: center;
  line-height: 1.2;
  margin: 0 auto;
}

.max-width-700 {
  max-width: 700px;
}

.italic {
  font-style: italic;
}

footer {
  background-color: #fffafa;
  background-image: url("./assets/images/trilhorodapb-351.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer .box-authors {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
}

footer .box-author {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.margin-left-116 {
  margin-left: 116px;
}

.margin-left--29 {
  margin-left: -29px;
}

.margin-left--110 {
  margin-left: -110px;
}

footer .box-author__image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #f00;
  background: #fff;
}

footer .box-author__image.b-red {
  border: 3px solid #f00;
}

footer .box-author__image.b-yellow {
  border: 3px solid #ff7a00;
}

footer .box-author__image.b-purple {
  border: 3px solid #7300b4;
}

footer .box-author__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .box-author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  line-height: 0.8;
  padding-bottom: 10px;
}

footer .box-author__info .box-author__name {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

footer .box-author__info .box-author__age {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .box-author__info .box-author__ocupation {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .box-author.right {
  flex-direction: row-reverse;
}

footer .box-author.right .box-author__info {
  align-items: flex-end;
}

.footer-title {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

.footer-title .footer-title__content {
  border-top: 8px solid #ff7a00;
  border-bottom: 8px solid #ff7a00;
  font-weight: bold;
  color: #ff7a00;
}

.footer-title .line-orange.left {
  border-top: 8px solid #ff7a00;
  flex-grow: 1;
  height: 100%;
}

.footer-title .line-orange.right {
  border-bottom: 8px solid #ff7a00;
  flex-grow: 1;
  height: 100%;
  align-self: flex-end;
}

@media (max-width: 1110px) {
  html,
  body,
  .container {
    max-width: 100%;
    font-size: 1.1rem;
  }

  p {
    margin: 1rem 0;
    padding: 0 1rem;
    text-align: initial;
    word-spacing: 3px;
  }

  .container.highlight p {
    padding: 0;
  }

  .box p {
    padding: 0 1rem;
  }

  body .top-menu {
    flex-direction: column;
    padding: 1rem;
  }

  .top-menu .top-menu_title {
    font-size: 0.9rem;
    margin-top: -5px;
  }

  .bg-top .bg-top_subtitle {
    font-size: 1rem;
  }

  .box {
    padding: 1em;
  }

  .legend {
    font-size: 1rem;
  }

  .ph-100 {
    padding: initial;
  }
  .section {
    padding-bottom: 1rem;
  }

  .section-title {
    font-size: 2.2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .section-title b {
    line-height: 1;
    font-size: 6rem;
  }

  .gog-text {
    font-size: 1.5rem;
  }

  footer .box-authors {
    padding: 1rem;
  }

  .mb-20 {
    margin-bottom: 1rem;
  }

  .margin-left-116 {
    margin-left: 0;
  }

  .margin-left--110 {
    margin-left: 0;
  }

  footer .box-author__image {
    width: 35%;
    height: auto;
  }

  footer .box-author__info .box-author__ocupation {
    text-align: end;
  }

  .poesias {
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .poesias {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
  }

  .bg-snow {
    width: 100%;
  }
}

.dropdown {
  position: relative;
  display: inline-flex;
  background-color: #ff7a00;
  padding: 0 1rem;
  border-radius: 22px;
  color: white;
  width: 320px;
  height: 37px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1000%;
  width: 100%;
  border-radius: 4px;
  opacity: 0;
  transition: all .1s ease-in-out;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 14px;
  z-index: 1;
}

#selectedOption {
  font-size: 1.2rem;
}

.dropdown-content button {
  font-size: 1.2rem;
  color: black;
}

.dropdown-content button:hover {
  background-color: #ff7b00;
  color: #fff;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
  top: 100%;
  opacity: 1;
}
